.UsersMessage {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0rem 1rem 1rem 0rem;
}

span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.UserInfo {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.message {
    border-radius: 30px 0px 30px 30px;
    background: #467DFC;
    max-width: fit-content;
    max-height: fit-content;
    padding: 1rem;
    margin-right: 2rem;
    max-width: 40rem;
    word-break: break-all;
}