@use "../../style/variables.scss" as *;

.cardArea {
    display: grid;
    grid-template-columns: 7rem auto 7rem;

    height: 112px;
    background-color: $bgCover;
    border-radius: 30px;
    gap: 25px;
    margin: 15px 0;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        border-radius: 84px;
        width: 84px;
        height: 80px;
    }
}

.truncate {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}