.searchBar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;

    input {
        font-size: 16px;
        padding: 1rem;
        border-radius: 100vw;
        border: 3px solid #E7E7E7;
        padding-left: 40px;
    }

    .searchIcon {
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
    }
}

  