@use "../../style/variables.scss" as *;

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 0;
            
            span {
                color: $colorPrimary;
            }
        }

        p {
            width: 900px;
            margin: 35px 0;
        }
    }
}