@use "../../style/variables.scss" as *;

.section {
    margin-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.usernameFormContainer {
    display: flex;
    flex-direction: column;
    width: 390px;
}

.usernameForm {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.usernameFormField {
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
        color: $textPrimary;
    }

    input {
        font-size: 16px;
        padding: 1rem;
        border-radius: 100vw;
        border: 3px solid #467DFC;
    }
}