.button {
    color: #467DFC;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
    border-radius: 100vw;
    padding: 1rem 5rem;
    border: 3px solid #467DFC;
    transition: .25s;
    font-size: 18px;
}

.button:hover {
    background-color: #467DFC;
    color: white;
}